NODE_ENV=development
PORT=3000

PG_HOST=localhost
PG_PORT=5432
PG_USER=parking
PG_PASSWORD=parking
PG_DB=parking

MONGO_URI=mongodb://localhost:27017/parking_logs

JWT_SECRET=usecret
JWT_EXPIRES_IN=1h